<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Total Users</div>
                            <div class="stat-digit"> <i class="fa fa-usd"></i>{{allusercount}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success w-100" role="progressbar" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Approved Users</div>
                            <div class="stat-digit"> <i class="fa fa-usd"></i>{{approvedusercount}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary w-100" role="progressbar" aria-valuenow="78"
                                aria-valuemin="0" aria-valuemax="10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Total Cars</div>
                            <div class="stat-digit"> <i class="fa fa-usd"></i>{{allcarscount}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning w-100" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <div class="stat-text">Available cars</div>
                            <div class="stat-digit"> <i class="fa fa-usd"></i>{{availablecarscount}}</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger w-100" role="progressbar" aria-valuenow="65"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                
                <div class="card">
                    <div class="card-body text-center">
                        <canvas id="myChart2" height="90" width="90" ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Most Booked</h4>
                    </div>
                    <div class="card-body">
                      
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Most booked car <span style="float: right;"><b>{{mostbookedcarbrand}}{{mostbookedcarname}}</b> </span>     
                            </li>
                        <li class="list-group-item">Most booked brand <span style="float: right;"><b>{{mostbookedbrand}}</b></span></li>
                        <li class="list-group-item">Most booked type <span style="float: right;"><b>{{mostbookedtype}}</b></span></li>
       
                    </ul>
                       
                    </div>
                </div> 
            </div>
           
           
            <div class="col-lg-6 ml-5 mt-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bookings</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Total Bookings <span style="float: right;"><b>{{allbookingscount}}</b> </span>     
                            </li>
                        <li class="list-group-item">Bookings this month <span style="float: right;"><b>{{allbookingsthismonth}}</b></span></li>
                        <li class="list-group-item">Bookings today <span style="float: right;"><b>{{allbookingstoday}}</b></span></li>
       
                    </ul>
                        
                    </div>
                </div>
            </div>
             <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recent Bookings</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered verticle-middle table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">username</th>
                                                <th scope="col">contact</th>
                                                <th scope="col">car</th>
                                                <th scope="col">carnumber</th>
                                                <th scope="col">location</th>
                                                <th scope="col">pickupDate and time</th>
                                                <th scope="col">dropoffDate and time</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {{#each allrecentbookings}}
                                            <tr>
                                                {{#each bookeduser}}
                                                <td>{{this.username}}</td>
                                                <td>{{this.mobileNumber}}</td>
                                                {{/each}}

                                                {{#each cars}}
                                                <td>{{this.Name}}</td>
                                                <td>{{this.Carnumber}}</td>
                                                <td>{{this.location}}</td>
                                                {{/each}}

                                                <td>{{this.pickupdate}}-{{this.pickuptime}}</td>
                                                <td>{{this.dropoffdate}}-{{this.dropofftime}}</td>
                                                <td><span style="color: red;">{{this.price}}</span></td>                                               
                                            </tr>
                                            {{/each}}
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
       

    </div>
</div>
<!--**********************************
            Content body end
        ***********************************-->


<script>
    $(document).ready(function () {
        $.ajax({
            url: '/admin/getChartData',
            method: 'get',
            success: (response) => {
                resp = response.all
                {{!-- alert(resp.jan) --}}
                chart(resp)
                resp2 = response.Type
                chart2(resp2)
            }
        })
    })
    function chart(resp) {

        const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: 'Revenue by month',
                data: [resp.jan, resp.feb, resp.mar, resp.apr, resp.may, resp.jun, resp.jul, resp.aug, resp.sep, resp.oct, resp.nov, resp.dec],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    }
    
    function chart2(resp2){

        const ctx2 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ['XUV', 'hatchback','sedan'],
            datasets: [{
                label: 'Revenue by type',
                data: [resp2.SUV, resp2.HATCHBACK, resp2.SEDAN],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });



    }

     

</script>