<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link"></a></li>
                <li class="nav-item"><a href="services.html" class="nav-link"></a></li>
                <li class="nav-item active"><a href="pricing.html" class="nav-link"></a></li>
                <li class="nav-item"><a href="car.html" class="nav-link"></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row mr-1 mt-1 ml-1" style="background-color: rgb(37, 37, 37);;margin-bottom: 0px;">
    {{!-- <a href="/userrides" class="btn col s3"
        style="background-color: rgb(37, 37, 37); color: white;border: none;">ALL
        BOOKINGS</a> --}}
    <a href="/upcomingrides" class="btn col s3"
        style="background-color: rgb(37, 37, 37); color: white;border: none;">UPCOMING</a>

    <a href="/ongoingrides" class="btn col s3"
        style="background-color: rgb(37, 37, 37); color: white;border: none;">ONGOING</a>

    <a href="/endedrides" class="btn col s3"
        style="background-color: rgb(37, 37, 37); color: white;border: none;">ENDED</a>


</div>
<!-- END nav -->
<div class="card text-center mt-3">
    <div class="card-header ">
        {{#if allbooking}}
        ALL BOOKINGS
        {{/if}}
        {{#if upcoming}}
        UPCOMING RIDES
        {{/if}}
        {{#if ongoing}}
        ONGOING RIDES
        {{/if}}
        {{#if ended}}
        ENDED RIDES
        {{/if}}
    </div>

    {{#if upcoming}}

    <div class="card-body">
        <div class="card w-90">
            <div class="card-body align-items-center ">

                {{#if userBookings}}

                {{#each userBookings}}

                <div class="">
                    <div class="mt-5">

                        <div class="row align-items-center">

                            {{#each cars}}

                            <div class="col-12 col-lg-2 col-md-12">
                                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">


                                    <div><img src="carimages/{{this._id}}1.jpg" style="height: 170px; width: auto;">
                                    </div>


                                    </h6>

                                    {{/each}}

                            </div>
                            <div class="col-lg-3 col-12 col-md-12">
                                <div class="text-secondary-d1 text-100">

                                    {{#each cars}}

                                    <h6 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
                                        {{this.Brand}} {{this.Name}}
                                    </h6>

                                    {{/each}}

                                    <p class="mb-0 rated">
                                        <span style="color: red;">Price
                                            :{{this.price}} </span>
                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-12 col-md-12">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Start Date and time : {{this.pickupdate}}
                                        {{this.pickuptime}}</li>
                                    <li class="list-group-item">End Date and time : {{this.dropoffdate}}
                                        {{this.dropofftime}}</li>
                                </ul>

                            </div>
                            <div class="col-12 col-lg-3 col-md-12 ">
                                {{!-- <a href="" class="btn btn-outline-danger px-5">Cancel</a> --}}
                                <!-- Button trigger modal -->
                                <button type="button" data-id="{{this._id}}" data-user="{{this.user}}"
                                    class="cancel btn btn-outline-danger px-5" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                    Cancel
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to cancel the ride
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <a href="" id="cancel" class="btn btn-outline-primary">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {{/each}}

                        {{else}}

                        <p style="text-align: center; margin-top: 40px;">no bookings</p>

                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{else }}

    <div class="card-body">
        <div class="card w-90">
            <div class="card-body align-items-center ">

                {{#if userBookings}}

                {{#each userBookings}}

                <div class="">
                    <div class="mt-5">

                        <div class="row align-items-center">

                            {{#each cars}}

                            <div class="col-12 col-lg-2 col-md-12">
                                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">


                                    <div><img src="carimages/{{this._id}}1.jpg" style="height: 170px; width: auto;">
                                    </div>


                                    </h6>

                                    {{/each}}

                            </div>
                            <div class="col-lg-3 col-12 col-md-12">
                                <div class="text-secondary-d1 text-100">

                                    {{#each cars}}

                                    <h6 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
                                        {{this.Brand}} {{this.Name}}
                                    </h6>

                                    {{/each}}

                                    <p class="mb-0 rated">
                                        <span style="color: red;">Price
                                            :{{this.price}} </span>
                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-12 col-md-12">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Start Date and time : {{this.pickupdate}}
                                        {{this.pickuptime}}</li>
                                    <li class="list-group-item">End Date and time : {{this.dropoffdate}}
                                        {{this.dropofftime}}</li>
                                </ul>
                            </div>
                        </div>

                        {{/each}}

                        {{else}}

                        <p style="text-align: center; margin-top: 40px;">no bookings</p>

                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/if}}

</div>

{{!--
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
--}}

{{!--
<link rel="stylesheet" href="/stylesheets/style.css">
--}}


<script>
    $(document).on("click", ".cancel", function (e) {
        const bookingid = $(e.target).data('id');
        const userid = $(e.target).data('user')
 
        $('.modal-footer #cancel').attr('href', "/cancelride?id=" + bookingid + "&user=" + userid)
    })

</script>