<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Car<span>-Zy</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
        <li class="nav-item active"><a href="/carslistpage" class="nav-link">Cars</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/wallpaper1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span>
        </p>
        <h1 class="mb-3 bread">Choose Your Car</h1>
      </div>
    </div>
  </div>
</section>
<form action="/searchCar" method="post" id="searchcar" style="color: white; font-size: x-small;">

  <div class="input-group col-md-3 col-9 mt-5 ml-5 ">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" name="search" />
    <button type="submit" class="btn btn-outline-primary ">search</button>
    </div>
    <div class="container ml-5 mt-2">
      {{#if nocarfound}}
      <p style="color: red;"> No car Found</p>
    {{/if}}
    </div>
</form>

{{!-- <div class="container mt-4 mb-4" >
  <div class="row page-titles mx-0">

    <form action="/carslist" method="post" class="request-form ftco-animate bg-primary">
      <div class="row">
        <div class="form-group  col-md-2 col-12 ">
          <label for="" class="label">location</label>
          <select type="text" class="form-control">
          <option value="{{bookingdetails.location}}" style="color: black;">{{bookingdetails.location}}</option>
          <option value="calicut beach" style="color: black;">Calicut beach</option>
          <option value="malappuram" style="color: black;">Malappuram</option>
          </select> 
        </div>

        <div class="form-group col-md-2 col-12">
			                <label for="" class="label">Pick-up date</label>
			                <input type="date" class="form-control" id="pick_date" placeholder="Date" name="pickupDate" onclick="date_pick()" value="{{bookingdetails.pickupDate}}">
			              </div>
         <div class="form-group col-md-2 col-12">
		                <label for="" class="label">Pick-up time</label>
		                <input type="time" class="form-control timepicker" id="pickuptime" placeholder="Time" name="pickuptime" onclick="pickuptime()" value="{{bookingdetails.pickuptime}}"  disabled>
		              </div>
        <div class="form-group  col-md-2 col-12">
			                <label for="" class="label">Drop-off date</label>
			                <input type="date" class="form-control" id="drop_date" placeholder="Date" name="dropoffDate" onclick="dropdate_pick()" value="{{bookingdetails.dropoffDate}}" disabled>
			              </div>
         <div class="form-group col-md-2 col-12">
		                <label for="" class="label">Drop-off time</label>
		                <input type="time" class="form-control timepicker" id="dropofftime" placeholder="Time" name="dropofftime" value="{{bookingdetails.dropofftime}}" disabled>
		              </div>
        <div class="form-group  mt-4  col-md-2 col-12" style="padding-top: 10px;">
          <button type="submit" class="btn btn-secondary  py-2 px-4">submit</button>
        </div>
      </div>

    </form>

  </div>
</div> --}}

  <section class="ftco-section bg-light">
  <div class="d-flex">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12 ml-5">
         <div class="col-md-4  d-flex align-items-center">
            <form action="/carslist" method="post" class="request-form1 ftco-animate bg-primary">
              <h2>Make your trip</h2>
             	<div class="form-group ">
			    					<label for="" class="label">Pick-up location</label>
			    					<select type="text" class="form-control" name="location">
          <option value="{{bookingdetails.location}}">{{bookingdetails.location}}</option>            
          <option value="calicut" style="color: black;">calicut</option>
          <option value="malappuram" style="color: black;">malappuram</option>
          </select>
			    				</div>
			    				<div class="d-flex">
			    					<div class="form-group mr-2">
			                <label for="" class="label">Pick-up date</label>
			                <input type="date" class="form-control" id="pick_date" value="{{bookingdetails.pickupDate}}" placeholder="Date" name="pickupDate" onclick="date_pick()">
			              </div>
                    <div class="form-group">
		                <label for="" class="label">Pick-up time</label>
		                <input type="time" class="form-control timepicker" id="pickuptime" value="{{bookingdetails.pickuptime}}" placeholder="Time" name="pickuptime" onclick="pickuptime()" disabled>
		              </div>
                  </div>
                  <div class="d-flex">
			              <div class="form-group mr-2">
			                <label for="" class="label">Drop date</label>
			                <input type="date" class="form-control" id="drop_date" value="{{bookingdetails.dropoffDate}}" placeholder="Date" name="dropoffDate" onclick="dropdate_pick()" disabled>
			              </div>
                      <div class="form-group">
		                <label for="" class="label">Drop time</label>
		                <input type="time" class="form-control timepicker" id="dropofftime" value="{{bookingdetails.dropofftime}}" placeholder="Time" name="dropofftime" disabled>
		              </div>
                  </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary py-3 px-4">Search </button>
              </div>
            </form>
          </div>
      </div>
    </div>
    
    <div class="row mr-5" style="width: 75%;">
         {{#each Cars}}
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="car-wrap rounded ftco-animate">
          <div class="img rounded d-flex align-items-end" style="background-image: url(carimages/{{this._id}}1.jpg);">
          </div>
          <div class="text">
            <h2 class="mb-0"><a href="car-single.html">{{this.Name}}</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">{{this.Brand}}</span>
              <p class="price ml-auto"><span style="font-family: Arial, Helvetica, sans-serif; font-size: large; color:black;">₹</span>  {{this.Price}} </p>
            </div>
            <p class="d-flex mb-0 d-block"><a href="/Bookcar?id={{this._id}}" class="btn btn-primary py-2 mr-1">Book now</a> <a
                href="/carsdetails/{{this._id}}" class="btn btn-secondary py-2 ml-1">Details</a></p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
            <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
            <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Customer Support</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">FAQ</a></li>
            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
            <li><a href="#" class="py-2 d-block">How it works</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San
                  Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
            target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>


  <script>
function date_pick(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
     {{!-- alert(maxDate);  --}}
    $('#pick_date').attr('min', maxDate);
    document.getElementById('drop_date').removeAttribute("disabled")
    document.getElementById('pickuptime').removeAttribute("disabled")
  
};

function dropdate_pick(){
    var dtToday = document.getElementById("pick_date").value
  {{!-- alert(dtToday);  --}}
    $('#drop_date').attr('min', dtToday);
  document.getElementById('dropofftime').removeAttribute("disabled")
};
</script>

<script src="/javascripts/searchcars.js"></script>